/*****************************************
Стили опросника
*****************************************/
#hflow_questionnaire {
	
}
#hflow_questionnaire h3 {
	text-align: center;
}
#hflow_questionnaire #questionnaire-section-01 ul {
	list-style: none;
	padding: 0px;	
	text-align: center;
}
#hflow_questionnaire #questionnaire-section-01 ul li {
	display: inline-block;
	width: 200px;
	margin: 0px 10px;
	vertical-align: top;
}
#hflow_questionnaire #questionnaire-section-01 ul li label {
	display: block;
	border-radius: 10px;
	color: #ffffff !important;
	background: #4180cb;
	border: 4px outset #4180cb;
	margin: 0px;
	padding: 4px 6px;
	line-height: 1
}

#hflow_questionnaire .dms-col-6 {
	width: 50%;
	float: left;	
}

#hflow_questionnaire #questionnaire-section-01 div,
#hflow_questionnaire #questionnaire-section-03 div {
	margin-bottom: 20px;
}

#hflow_questionnaire #questionnaire-section-01 div input {
	display: inline-block;	
}
#hflow_questionnaire label[for="mechanical_cleaning_other"],
#hflow_questionnaire #mechanical_cleaning_other {
	display: inline-block;
	width:49%;
}
#hflow_questionnaire #daily_consumption_of_hot_water,
#hflow_questionnaire #the_hardness_of_the_water,
#hflow_questionnaire #daily_consumption_of_cold_water {
	width: 60px;
	margin: 0 5px;
}
#hflow_questionnaire #daily_consumption_of_hot_water,
#hflow_questionnaire #daily_consumption_of_cold_water {
	
}
#hflow_questionnaire .dms-nav {
	clear: both;
	width: 100%;
	text-align: center;
}
#hflow_questionnaire .dms-nav:after {
	content: "";
	clear: both;
	display: table;
}
#hflow_questionnaire .dms-nav .hflow_questionnaire-next {
	float: right;
}
#hflow_questionnaire .hflow_questionnaire-prev {
	float: left;
}
#hflow_questionnaire .dms-nav button {
	max-width: 700px;
	margin: 10px auto;
	padding: 6px;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	background: #05bc57;
	border: 2px outset #05bc57;
	text-align: center;
	border-radius: 8px;
	box-shadow: 2px 2px 10px 1px rgba(0,0,0,.5);
	width: 160px;
}

#hflow_questionnaire #questionnaire-section-02 ul {
	list-style: none;
	padding: 0px;	
	text-align: center;
}
#hflow_questionnaire #questionnaire-section-02 ul li {
	display: inline-block;
	width: 200px;
	margin: 0px 10px;
	vertical-align: top;
}
#hflow_questionnaire #questionnaire-section-02 ul li label {
	display: block;
	border-radius: 10px;
	color: #ffffff !important;
	background: #4180cb;
	border: 4px outset #4180cb;
	margin: 0px;
	padding: 4px 6px;
	line-height: 1
}

#hflow_questionnaire #questionnaire-section-03 label {
	display: inline-block;	
	border-radius: 10px;
	color: #ffffff !important;
	background: rgb(255,143,42);
	border: 4px outset rgb(255,143,42);
	margin: 0px;
	padding: 6px 6px;
	line-height: 1;
	width: 150px;
	text-align: center;	
}
#hflow_questionnaire #questionnaire-section-03 input {
	display: inline-block;
	line-height: 1;
	width: 150px;
	margin-left: 20px;
}


#hflow_questionnaire #questionnaire-section-04 ul {
	list-style: none;
	padding: 0px;	
	text-align: center;
}
#hflow_questionnaire #questionnaire-section-04 ul li {
	display: inline-block;
	width: 200px;
	margin: 0px 10px;
	vertical-align: top;
}
#hflow_questionnaire #questionnaire-section-04 ul li label {
	display: block;
	border-radius: 10px;
	color: #ffffff !important;
	background: #4180cb;
	border: 4px outset #4180cb;
	margin: 0px;
	padding: 4px 6px;
	line-height: 1
}
#hflow_questionnaire #contact-date,
#hflow_questionnaire #contact-date-2,
#hflow_questionnaire #additional_information{
	margin-bottom: 40px;
}

#hflow_questionnaire #contact-date span {
	width: 30%;
	min-width: 250px;
	display: inline-block;
}
#hflow_questionnaire #contact-date input{
	width: calc( 100% - 20px);
	display: inline-block;
	text-align: left;
	/* color: #ffffff !important; */
	/* background: #4180cb; */
	border: 4px inset #4180cb;	
	margin: 5px 0.5%;
	padding: 5px;	
}
#hflow_questionnaire #contact-date-2 span {
	width: 49%;
	min-width: 250px;
	display: inline-block;
	text-align: center;
}
#hflow_questionnaire #contact-date-2 input{
	width: calc( 100% - 20px);
	display: inline-block;
	text-align: left;
	/* color: #ffffff !important; */
	/* background: #4180cb; */
	border: 4px inset #4180cb;	
	margin: 5px 0.5%;
	padding: 5px;	
}

#hflow_questionnaire .dms-nav button.hflow_questionnaire-all,
#hflow_questionnaire .dms-nav button.hflow_questionnaire-submit {
	max-width: 700px;
	margin: 10px auto;
	padding: 16px 6px;
	-moz-transform: translateY(-10px); /* Для Firefox */
  -ms-transform: translateY(-10px); /* Для IE */
  -webkit-transform: translateY(-10px); /* Для Safari, Chrome, iOS */
  -o-transform: translateY(-10px); /* Для Opera */
  transform: translateY(-10px);
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	background: rgb(255,143,42);
	border: 2px outset rgb(255,143,42);
	text-align: center;
	border-radius: 8px;
	box-shadow: 2px 2px 10px 1px rgba(0,0,0,.5);
	width: 160px;
}
#hflow_questionnaire #questionnaire-section-04 textarea {
	width: 100%;
	display: block;
}
#hflow_questionnaire.dms-hidden,
#hflow_questionnaire .dms-hidden {
	display: none;
	display: none;
}

#hflow_questionnaire .dms-form-report p {
	margin: 2px;
	width: 100%;
	padding: 5px 10px;	
	font-weight: bold;
}
#hflow_questionnaire .dms-form-report p.error {
	border: 2px solid red;
	color: red;
}
#hflow_questionnaire .dms-form-report p.updated {
	border: 2px solid green;
	color: green;
}